<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">

    </script>
</head>
<body>
<h1>Create Blog</h1>
<p>
    <a th:href="@{/blog/list}">
        Back to blog list
    </a>
</p>
<div class="notify">
    <div>
        <p>Here you can create new Smartphone:</p>
        <div id="sBlogFromResponse"></div>
    </div>
</div>
<form id="newBlogForm" th:object="${blogs}">
<table>
    <tr>
        <td>Title: </td>
        <td><input type="text" th:field="*{title}"/></td>
    </tr>
    <tr>
        <td>Content: </td>
        <td><textarea th:field="*{content}"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Save"/></td>
    </tr>
</table>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        // funtion được gọi khi submit from có id là newBlogphoneForm
        $('#newBlogForm').submit(function(event) {
            // thực hiện lấy dữ liệu từ các input tương ứng
            let title = $('#title').val();
            let content = $('#content').val();;
            //gán các biến vào các trường tương ứng của đối tượng json.
            let json = { "title" : title, "content" : content};
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type : "POST",
                data: JSON.stringify(json),
                // thực hiện truyền json theo đường dẫn "/creates"
                url: "/blog/creates",
                success: function(blog) {
                    var respContent = "";
                    respContent += "<span class='success'>Blog was created: [";
                    respContent += blog.title + " : ";
                    respContent += blog.content + "]</span>"
                    $("#sBlogFromResponse").html(respContent);
                }
            });
            event.preventDefault();
        });
    });
</script>
</body>
</html>