<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>
</head>
<body>
<h1>Delete Blog</h1>
<h2>Are you sure?</h2>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div>
    <p>Here you can see a list of Blog:</p>
    <div id="sBlogFromResponse"></div>
</div>
<form th:object="${blogs}">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:text="*{title}"/></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><textarea th:text="*{content}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"/></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var deleteLink = $("a:contains('Delete')");
        $(deleteLink).click(function (event) {
            $.ajax({
                url: $(event.target).attr("href"),
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");

                },
                success: function (blog) {
                    var respContent = "";
                    var rowToDelete = $(event.target).closest("tr");
                    rowToDelete.remove();
                    respContent += "<span class='success'>Blog was deleted: [";
                    respContent += blog.title + " : ";
                    respContent += blog.content + "]</span>";
                    $("#sBlogFromResponse").html(respContent);
                }
            });
            event.preventDefault();
        });
    });
</script>
</body>
</html>